<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Jtwig Sample">
        <meta name="author" content="João Melo">

        <title>Jtwig Sample</title>
    </head>
    <body>
        {% block content %}
        Default content
        {% endblock %}
    </body>
</html>